@font-face {
  font-family: 'FredokaOne';
  src: url('/assets/FredokaOne-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Share';
  src: url('/assets/Share-Regular.ttf') format('woff2');
}

:root {
  font-size: 16px;
  font-family: sans-serif;
  --light-primary-color: white;

  --primarly-font: 'FredokaOne';
  --secondary-font: 'Share';

  --location-size: 3.5rem;
  --condition-size: 2rem;
}

body {
  height: 100vh;
  background-image: url('../assets/night.jpg');
  background-size: cover;
  color: var(--light-primary-color);

  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  gap: 20px;
}

nav {
  position: fixed;
  height: 50px;
  width: 100vw;
}

li {
  display: flex;
  align-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding: 2px;
  padding-right: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

#weather {
  display: flex;
  padding: 50px;
}

.fade {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

#weather {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px;
}

#weather-main {
  margin: 0;
  border-bottom: 2px white solid;
  padding-bottom: 10px;
}

#weather>div>div>h1 {
  font-size: var(--location-size);
  font-family: var(--primarly-font);
  font-weight: 500;
  margin: 0;
}

#condition {
  font-size: var(--condition-size);
  font-family: var(--secondary-font);
  font-weight: 100;
  margin: 0;
}

#city-search {
  font-size: 1.5rem;
  background: rgba(100, 100, 100, 0.2);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#search-icon {
  margin-top: 10px;
  height: 30px;
  width: 50px;
}

#search-error {
  display: none;
  padding-left: 10px;
  margin-top: 5px;
  text-align: left;
  font-size: 1rem;
  color: red;
}


#weather-image {
  filter: brightness(100%) saturate(0%);
}

#location-image-container {
  --size: 180px;
  height: var(--size);
  width: var(--size);
  border-radius: 5000px;
  overflow: hidden;
}

#location-image {
  height: 135%;
  width: auto;
  overflow: hidden;
  filter: brightness(70%);
}

#weather-sub {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  justify-content: space-between;
}

#localtime {
  font-size: 1.5rem;
}

#temp {
  font-family: var(--primarly-font);
  font-size: 4rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

svg {
  height: 3rem;
}

#temp-icon {
  height: 3.5rem;
}

#weather-sub-sub {
  display: flex;
  justify-content: flex-end;
}

/* forecast */
#forecast-container {
  position: absolute;
  top: 40vh;
  display: flex;
  justify-content: center;
  width: 100vw;
}

#forecast {
  height: 170px;
  width: 80vw;
  background: transparent;
  overflow: scroll;
  display: flex;
  gap: 10px;


  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#forecast::-webkit-overflow-scrolling {
  display: none;
}

.forecast-item {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(0, 00, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}

.forecast-temp {
  font-family: var(--primarly-font);
  font-size: 2rem;
}

.forecast-time {
  font-family: var(--secondary-font);
  font-size: 2rem;
}
